<footer class="footer section">
    <div class="footer__container container grid">
        <a href="#" class="footer__logo">
            <img src="../public/img/logo.png" alt="">
        </a>

        <div class="footer__content">
            <h3 class="footer__title">Products</h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Headphones</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Earphones</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Earbuds</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Accesories</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Support</h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Product help</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Register</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Updates</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Provides</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <div class="footer__form">
                <input id="subscribeEmail" type="email" placeholder="Email" class="footer__input">
                <button id="subscribeSend" class="button button--flex">
                    <i class="ri-send-plane-line button__icon"></i> Subscribe
                </button>
            </div>

            <div class="footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                    <i class="ri-facebook-fill"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                    <i class="ri-twitter-line"></i>
                </a>
            </div>
        </div>
    </div>

    <p class="footer__copy">
        <a href="https://www.youtube.com/c/Bedimcode/" target="_blank" class="footer__copy-link">&#169; Bedimcode. All
            right reserved</a>
    </p>
</footer>
<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-s-line scrollup__icon"></i>
</a>
<div class="modal-container"><div class="modal-box"></div></div>
<script src="js/scrollriveal.js"></script>
<script type="module" src="js/main.js"></script>
</body>
</html>